.timerModalOverlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timerModalOverlay .timerModalContent {
    font-size: 70px;
    color: white;
    margin-bottom: .3em;
}
.timerModalOverlay .timerModalAction {
    color: white;
    text-decoration: underline;
    font-size: 40px;
    margin: .3em 0
}
